<div id="container" #container>
  <div id="controls">
    <div class="form-group">
      <label for="coins">Number of Coins:</label>
      <input
        placeholder="Number of coins"
        pattern="\d*"
        (keypress)="isNumber($event)"
        #numOfOperation
      />
    </div>
    <div class="form-group">
      <label for="delay">Delay:</label>
      <input
        [(ngModel)]="delay"
        pattern="\d*"
        (keypress)="isNumber($event)"
        type="text"
        placeholder="Delay(in ms)"
      />
    </div>
    <div class="button-group">
      <button (click)="startRecursion(+numOfOperation.value, 1, 2, 3)">
        start simulation
      </button>
    </div>
  </div>
  <div class="block" id="1" #t1>
    <div *ngFor="let coin of coins">
      <ng-container *ngIf="coin.block === 1">
        <div
          class="coin"
          [ngStyle]="{
            width: coin.width + 'vmin',
            height: coin.height + 'vmin'
          }"
        ></div>
      </ng-container>
    </div>
  </div>
  <div class="block" id="2" #t2>
    <div *ngFor="let coin of coins">
      <ng-container *ngIf="coin.block === 2">
        <div
          class="coin"
          [ngStyle]="{
            width: coin.width + 'vmin',
            height: coin.height + 'vmin'
          }"
        ></div>
      </ng-container>
    </div>
  </div>
  <div class="block" id="3" #t3>
    <div *ngFor="let coin of coins">
      <ng-container *ngIf="coin.block === 3">
        <div
          class="coin"
          [ngStyle]="{
            width: coin.width + 'vmin',
            height: coin.height + 'vmin'
          }"
        ></div>
      </ng-container>
    </div>
  </div>
</div>
